# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Ignore .zip files
*.zip

# Ignore .json files
*.json

# Ignore .pkl files
*.pkl

# Ignore .csv files (case-sensitive)
*.csv

# Ignore all folders
*/

# Allow only .py files
!*.py
